::-webkit-scrollbar{
    display: none;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    background: #eafbfc;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
}

header{
    text-align: center;
    background: url(https://alant9966.github.io/header_background.jpg);
    height: 320px;
  }

  #title{    
    margin-top: auto;
    padding-top: 20vh;
    font-size: 250%;
}

li{
    display: inline;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: right;
  }
  
  #text{
    float: left;
    display: block;
    color: white;
    padding: 10.5px 0px 11.5px 24px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10.5px 15.5px 11.5px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  
  #active{
    background: #1b1b1b;
}

main{
    float: left;
    text-align: center;
    line-height: 20px;
    height: 40vh;
    width: 40%;
    overflow: auto;
    padding-top: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
}

#img-1{
    display: inline-block;
    width: 220px;
    transform: rotate(270deg);
}

#img-2{
    display: inline-block;
    width: 220px;
    margin-left: 50px;
    transform: rotate(270deg);
}

#images{
    width: 495px;
    height: 220px;
    margin-top: 35px;
    margin-right: 4%;
    text-align: right;
    margin-right: auto;
    margin-left: auto;
}

#container{
    float: right;
    width: 53.5%;
    height: 280px;
    text-align: right;
}

@media screen and (max-width: 950px){
    main{
        display: block;
        float: none;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
    }

    #container{
        display: block;
        float: none;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 570px){
    #images{
        width: fit-content;
        text-align: center;
    }

    #images img{
        width: 38vw;
    }

    #img-2{
        display: inline-block;
        margin-left: 9vw;
        transform: rotate(270deg);
    }
}
