li{
    display: inline;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: right;
  }
  
  #text{
    float: left;
    display: block;
    color: white;
    padding: 10.5px 0px 11.5px 24px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10.5px 15.5px 11.5px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  
  #active{
    background: #1b1b1b;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    background: #eafbfc;
}

header{
    text-align: center;
    background: url(../images/header_background.jpg);
    height: 320px;
  }

  #title{    
    margin-top: auto;
    padding-top: 20vh;
    font-size: 250%;
}

#images{
    text-align: center;
}

#images div{
    display: inline-block;
    margin-right: 4%;
    margin-left: 4%;
    width: 260px;
    text-align: center;    
    margin-top: 60px;
    margin-bottom: 15px;
}

#images img{
    display: inline-block;
    width: 250px;
    transform: rotate(270deg);
    margin-bottom: 15px;
}

#images p{
    display: inline-block;
    width: 220px;
    height: 200px;
    overflow: auto;
    text-align: center;
    font-size: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
}


@media screen and (max-width: 1000px){
    #images div{
        display: inline-block;
        margin-right: 5%;
        margin-left: 5%;
        width: 260px;
        text-align: center;    
        margin-top: 60px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 675px){
    
    #images div{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 95%;
        height: 250px;
        margin-top: 40px;
    }

    #images img{
        width: 200px;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 33px;
    }

    #images p{
        width: 44%;
        margin-left: 10px;
        font-size: 90%;
    }
}

@media screen and (max-width: 480px){

    #images div{
        height: fit-content;
    }

    #images img{
        width: 65%;
        margin-bottom: 33px;
    }

    #images p{
        width: 65%;
        font-size: 100%;
        margin-top: -10px;
    }
}